#Board-wrapper {
  background-color: #0f86cf;
  height: 100vh;
  color: white;
}


#Board-wrapper select {
  border: 1px transparent solid;
  height: 30px;
  padding: 0px;
  padding-left: 5px;
  background-color: #35a7ee;
  color: white;
  align-self: center;
  margin: 5px !important;
  border: 1px solid transparent;
  border-radius: 3px;
}

#board-header {
  background-color: #0f86cf;
  display: flex; 
  justify-content: space-between;
  width: 100vw;
  height: 40px;
  padding: 5px;
  position: fixed;
  top: 40px;
  left: 0px;
}

#board-header-left {
  display: flex;
}

#board-header-right {
  display: flex;
  margin-right: 10px;
}

#board-header button {
  background-color: #35a7ee;
  height: 30px;
  border: 1px transparent solid;
  color: white;
  margin: 5px;
  align-content: center;
  border: 1px transparent solid;
  border-radius: 3px;
  padding-top: 3px;
  align-self: center;
}

#board-header button span {
  margin-left: 5px;
  font-size: 10px;
  background-color: #5dc0fd;
  padding: 5px;
  height: min-content;
  border: transparent 1px solid;
  border-radius: 12px;
  align-self: center;
  position: relative;
  top: -2px;
}

.board-header-vertical-line {
  border-left: 1px lightgray solid;
  width: 0px;
  margin: 3px;
  height: 20px;
  align-self: center;
}

#board-main {
  position: relative;
  top: 90px;
  height: calc(100vh - 90px);
  width: 100vw
}

#board-lists {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px);
  width: calc(100vw - 20px) !important;
  height: calc(100vh - 100px);
  overflow-x: auto;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

#board-lists::-webkit-scrollbar {
  position: sticky;
  top: 20px !important;
  background-color: transparent;
  height: 14px !important;
  border-radius: 5px;
}
#board-lists::-webkit-scrollbar-thumb {
  background-color: #4eb2f0;
  border-radius: 5px;
}
#board-lists::-webkit-scrollbar-track {
  background-color: #026aa7;
  border-radius: 5px;
}
#board-lists::-webkit-scrollbar-button {
  background-color: #0f86cf;
  width: 5px;
}

.board-list {
  background-color: #EBECF0;
  width: 250px !important;
  height: fit-content;
  color: black;
  margin-right: 10px;
  border: 1px transparent solid;
  border-radius: 3px;
  padding: 10px;
  padding-right: 5px;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.board-cards-crtCard {
  max-height: calc(100vh - 180px) !important;
}

.board-cards-crtCard-x {
  max-height: calc(100vh - 215px) !important;
}

.board-cards {
  overflow-y: auto;
}

.board-cards::-webkit-scrollbar {
  background-color: transparent;
  width: 10px !important;
  border-radius: 10px;
}
.board-cards::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 10px;
  width: 10px !important;
}
.board-cards::-webkit-scrollbar-track {
  background-color: #DADBE2;
  border-radius: 10px;
  width: 10px !important;
}


#board-name {
  align-self: center;
  margin-left: 10px;
  margin-top: 10px;
}

.board-card {
  background-color: white;
  padding: 10px;
  margin-right: 5px;
  border-radius: 3px;
  box-shadow: 0px 2px 2px lightgray;
}

.board-card:hover {
  filter: brightness(97%);
}

#board-lists button#board-addlist {
  height: 40px;
  width: 250px !important;
  border: 1px transparent solid;
  color: white;
  align-content: center;
  border-radius: 3px;
  padding-top: 3px;
  background-color: #35a7ee;
  flex-shrink: 0;
}

#board-addlist:focus {
  outline: none;
}

#board-addlist:hover {
  filter: brightness(105%);
}

.board-list button {
  height: 30px;
  width: 245px;
  color: rgb(100, 100, 100);
  align-content: center;
  border: 1px transparent solid;
  border-radius: 3px;
  padding-top: 3px;
}

.board-list button:hover {
  background-color: #DADBE2;
}


#board-profile-images {
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
}

#Board-wrapper h1, h2, h3, h4, h5, h6 {
  margin: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
  max-width: 100vw;
  max-height: 100vh;
}

#Board-wrapper button:focus {
  outline: none;
}

#Board-wrapper p {
  margin: 5px;
}

#board-header button:hover {
  filter: brightness(105%);
}

#Board-wrapper select:hover {
  filter: brightness(110%);
}

#board-padding-right {
  border: 1px transparent solid;
  background-color: red;
  width: 30px;
  height: 30px;
}

#board-addcard {
  margin-top: 10px;
  height: 25px;
}

#board-temp {
  display: flex;
  padding-right: 10px;
}

.crtList {
  background-color: #EBECF0;
  position: relative;
  top: -40px;
  width: 250px !important;
  border: 1px transparent solid;
  border-radius: 3px;
}

.crtList input {
  width: 226px;
  height: 20px;
  margin: 5px;
  padding: 5px;
  margin-bottom: 0px;
  margin-top: 4px;
  position: relative;
  top: 1px;
}

.crtList button {
  margin: 5px;
  margin-top: 0px;
  height: 30px;
  padding-left: 9px;
  padding-right: 10px;
  background-color:  #0f86cf;
  color: white;
  border: 1px transparent solid;
  border-radius: 3px;
}

.crtList button:hover {
  filter: brightness(115%);
}

input.addcard {
  width: 100px;
  height: 5px;
}

#no_crtList {
  background: url('https://api.iconify.design/octicon:x-16.svg') no-repeat center center / contain;
  width: 25px;
  margin: 0px;
  position: relative;
  top: 8px;
}

#no_crtList:focus {
  outline: none;
}

#AddCard {
  width: auto !important;
  margin-right: 5px;
  margin-top: 0px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:  #0f86cf !important;
  color: white;
  border: 1px transparent solid;
  border-radius: 3px;
  width: 
}

.crtCard button #AddCard:hover {
  background-color:  #0f86cf !important;
  filter: brightness(110%) !important;
}

.crtCard input {
  background-color: transparent;
  border: 1px transparent solid;

}

#crtCard_inputWrapper {
  background-color: white;
  padding: 10px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  box-shadow: 0px 2px 2px lightgray;
  border: 1px transparent solid;
}

.crtCard input:focus {
  outline: none;
}
