#Board-wrapper {
  background-color: #0f86cf;
  min-height: calc(100vh - 40px);
}


select {
  border: 1px transparent solid;
  padding: 10px;
  padding-right: 20px;
  background-color: #35a7ee;
}

#board-header {
  display: flex; 
  justify-content: space-between;
}

#board-header-left {
  display: flex;
  color: pink;
}

#board-header-right {
  display: flex;
  width: 100px;
  color: red;
}

#board-lists {
  background-color: skyblue;
}