#Board-wrapper {
  background-color: #0f86cf;
  min-height: calc(100vh - 40px);
  color: white;
}


#Board-wrapper select {
  border: 1px transparent solid;
  padding: 0px;
  background-color: #35a7ee;
  color: white;
}

#board-header {
  display: flex; 
  justify-content: space-between;
}

#board-header-left {
  display: flex;
}

#board-header-right {
  display: flex;
  width: 100px;
}

#board-lists {
  background-color: skyblue;
}

#board-header-star {
  background-color: #35a7ee;
  width: 30px !important;
  height: 30px;
  border: 1px transparent solid;
  color: white;
  font-size: 20px;
}