header.logged_header {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 121, 191);
  /* background-color의 경우 추후 테마 설정 기능이 추가되면 업데이트되어야 함 */
}

header.logged_header div {
  display: flex;
}

div.App-Switcher-Button-Wrapper {
  border-radius: 4px;
  margin: 3px;
  width: 28px;
  height: 28px;
  padding: 2px;
  background-color: white;
}

div.Home-Button-Wrapper {
  border-radius: 4px;
  margin: 3px;
  width: 28px;
  height: 28px;
  padding: 2px;
  background-color: white;
}

div.Boards-Link-Wrapper {
  border-radius: 4px;
  margin: 3px;
  width: 56px;
  height: 28px;
  padding: 2px;
  background-color: white;
}

div.Boards-Search-Wrapper {
  border-radius: 4px;
  margin: 3px;
  width: 56px;
  height: 28px;
  padding: 2px;
  background-color: white;
}

.header-logo-wrapper {
  line-height: 40px;
  height: 40px;
}

.header-logo-wrapper img.header_logo {
  height: 28px;
  margin: 3px;
}

div.Add-Wrapper {
  border-radius: 4px;
  margin: 3px;
  width: 28px;
  height: 28px;
  padding: 2px;
  background-color: white;
}

div.Info-Wrapper {
  border-radius: 4px;
  margin: 3px;
  width: 28px;
  height: 28px;
  padding: 2px;
  background-color: white;
}


div.Notifications-Wrapper {
  border-radius: 4px;
  margin: 3px;
  width: 28px;
  height: 28px;
  padding: 2px;
  background-color: white;
}


div.Profile-Wrapper {
  margin: 3px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  padding: 2px;
  background-color: white;
}



