body {
  background-color: #FAFBFC;
}

.main-wrapper {
  margin-top: 40px;
  height: 100vh;
  width: calc(100% - 340px);
  overflow-y: auto;
  display: flex;
  padding-top: 40px;
  padding-left: 170px;
  padding-right: 170px;
}

ul, li {
  list-style: none;
}

li.left-button-wrapper {
  display: flex;
  width: 232px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  background-color: #FAFBFC;
  margin-bottom: 4px;
  padding-left: 8px;
  color: #0f0f0f;
}

li.left-button-wrapper:hover {
  background-color: #F0F2F5;
  color: black;
}

li.left-button-wrapper.active {
  background-color: rgb(228, 240, 246);
  color: rgb(0, 121, 191);
}

.boards-desc {
  display: flex;
  height: 32px;
  line-height: 32px;
  justify-content: space-between;
}

.boards-desc div {
  display: flex;
}

.boards-desc div svg {
  margin: auto 0;
  margin-left: 10px;
  margin-right: 10px;
}

p.left-button-desc {
  font-weight: bold;
  font-size: 0.9em;
  padding-inline-start: 8px;
}

.left-button-wrapper svg {
  margin: auto 0;
}

div.boards-desc h4 {
  margin: 0px;
}

div.boards-desc#personal, div.boards-desc#workspace {
  margin-top: 30px;
}

section.left-buttons ul {
  padding: 0;
}

li.left-button-wrapper p {
  margin: 0;
}

section.left-buttons {
  width: 240px;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  left: calc(50vw - 521px);
}

section.main-boards {
  padding-left: 16px;
  padding-right: 16px;
  width: calc(1043px - 272px - 32px);
  position: absolute;
  right: calc(50vw - 521px);
}

ul.boards-boards {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.left-buttons div.Teams-hdr {
  display: flex;
  justify-content: space-between;
}

.boards-desc nav {
  display: flex;
}

.boards-desc nav p, .boards-desc nav a {
  margin-top: 0;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
  height: 32px;
  line-height: 32px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  font-size: 0.85em;
  border-radius: 4px;;
}

.boards-desc nav a {
  background-color: #F0F2F5;
}

.boards-desc nav p {
  background-color: rgb(237, 219, 244);
}

.boards-desc nav a:hover {
  background-color: #E7E9ED;
}

.boards-desc nav p:hover {
  background-color: rgb(223, 192, 235);
}

svg.tw_icon {
  margin-right: 10px;
}

ul.Teams li {
  width: 240px;
  height: 32px;
  border-radius: 4px;
}

ul.Teams li svg {
  margin-right: 8px;
}

#boards-upgrade-icon {
  background-color: rgb(137, 96, 158);
  color: white;
  padding: 3px !important;
  margin: 0px;
  border-radius: 3px;
  position: relative;
  top: 3px;
  margin-right: 5px;

}

#boards-teams-add {
  font-size: 27px !important;
  position: relative;
  top: -20px;
  margin-bottom: 0px!important;
  color: #42526E;
}

.boards-templates img {
  max-width: 186px !important;
  margin: 8px;
  margin-bottom: 30px;
}

div #boards-templates-title {
  display: flex;
}

#boards-template-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.boards-templates p {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 0px;
  padding-top: 0px;
}

.boards-templates img:hover {
  filter: brightness(90%);
}

.boards-templates #boards-templates-browse {
  text-decoration: underline;
  color: black;
  font-size: 14px;
  padding-left: 10px !important;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -20px;
}

.boards-templates {
  border-bottom: 1px lightgray solid;
  margin-bottom: 25px;
  padding-bottom: 5px;

}

#pageBoardPage {
  height: 100vh;
  overflow-y: hidden;
}

.left-buttons ul {
  margin-top: 0px !important;
}

/* 심심해서 만들어보는거 */

ul.Teams li b {
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0, 0.3);
} 

ul.Teams li b:before {
  content: attr(data-text);
  color: black;
  position: absolute;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
} 

ul.Teams:hover li b:before {
  animation: tw-animate 0.5s steps(16) forwards;
}

@keyframes tw-animate {
  0% {
    width: 0;
  }
  100% {
    width: 134.267px;
  }
}

/* board create 관련 css */

li.board-wrapper.create {
  background-color: #F0F2F5;
  text-align: center;
  line-height: 80px;
  color: black;
  font-weight: normal;
  display: flex;
}

li.board-wrapper.create:hover {
  background-color: #E7E9ED;
}

input.createInput {
  width: 170px;
  border: none;
  margin: 0;
  text-align: center;
  background: none;
  font-size: 1.1em;
  font-weight: bold;
}

input.createInput:focus {
  outline: none;
}